/*==================== Medium mobile ====================*/
@media screen and (max-width: 47.9375rem) {
  .home__book {
    display: none;
  }
}

@media screen and (min-width: 35.5rem) {
  .container {
    margin: 1rem 1.5rem;
  }

  .home__data--tittle {
    max-width: 450px;
  }

  .destinations__card {
    width: 200px;
    height: 240px;
  }
}

/*==================== Tablet 768px ====================*/
@media screen and (min-width: 48rem) {
  .container {
    margin: 1rem 2rem;
  }

  .tittle--css {
    font-size: var(--font-size-28);
  }

  .section {
    padding: 7rem 0 0;
  }

  .nav {
    position: relative;
    &::after {
      content: "";
      width: 100%;
      background-color: rgba(255, 255, 255, 0.3);
      height: 1px;
      position: absolute;
      bottom: -1rem;
    }
  }

  .scroll--header {
    .nav__link {
      color: var(--black-70);
      &:hover {
        color: var(--black-primary);
      }
    }
  }

  .nav {
    &__close,
    &__toggle {
      display: none;
    }

    &__list {
      // display: flex;
      flex-direction: row;
      column-gap: 1.2rem;
    }

    &__link {
      color: rgba(255, 255, 255, 0.9);
      &:hover {
        color: var(--white-color);
      }
    }
  }

  .home {
    &__img {
      object-position: 54%;
    }

    &__data {
      text-align: center;
      padding-top: 6.75rem;
      &--tittle {
        max-width: 100%;
      }
    }

    &__cta {
      display: none;
    }
  }

  .about {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      position: relative;
      height: 364px;
    }

    &__tittle,
    &__data {
      text-align: left;
    }

    &__data {
      width: 48%;
      position: absolute;
      right: 0;
      // top: 0;
    }

    &__tittle {
      line-height: 130%;
    }

    &__img {
      position: absolute;
      left: 0;
      // top: 0;
      width: 48%;
      height: 364px;
      img {
        height: 100%;
        object-fit: cover;
        object-position: 53%;
        // transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }
  }

  .destinations {
    .swiper-slide {
      width: 340px;
    }
    &__card {
      height: 256px;
    }
  }

  .things {
    &__tittle {
      padding-bottom: 3.75rem;
    }

    .things__list--place {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      height: 100%;
    }

    .things--2 {
      position: relative;
      min-height: 242px;
      height: 100%;
      .things--text2 {
        position: absolute;
        width: 48%;
        right: 0;
      }
      .things--img2 {
      }
    }

    &__text {
      text-align: left;

      &--tittle {
        font-size: var(--font-size-20);
        margin: 0;
      }

      &--descriptions {
      }
    }
  }

  .contact {
    &__container {
      margin: 0 4rem;
      display: grid;
      grid-template-columns: 30% 1fr;
      column-gap: 4rem;
      align-items: center;
    }

    &__inputname {
      height: 78px;
      margin-bottom: 2rem;
      &--icon {
        font-size: 1.5rem;
      }
    }

    input[type="text"],
    textarea {
      outline: none;

      &::placeholder {
        font-size: 20px;
      }
    }

    &__btn {
      width: 50%;
    }
  }

  .review {
    display: grid;
    grid-template-columns: 40% 1fr;

    &__img {
      width: 100%;
      height: 100%;
      top: 5rem;
    }

    &__tittle {
      color: #fff;
      width: 140px;
      margin-top: 1rem;
      margin-left: 8rem;
    }

    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          // max-width: 280px;
        }
        .swiper-slide-next {
          opacity: 1;
        }
      }
    }
  }

  .footer {
    &--3Info {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
    }
  }
}

/*==================== Tablet 1024px ====================*/
@media screen and (min-width: 63.9rem) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 5rem 0 0;
  }

  .tittle--css {
    font-size: var(--font-size-36);
  }

  .nav__list {
    column-gap: 2rem;
  }
  .nav__logo {
    font-size: 24px;
  }

  .about {
    padding: 9rem 0 0;
  }

  .home {
    .home__items--list .home__items--text {
      font-size: var(--font-size-18);
      padding-bottom: 1rem;
    }

    .home__items--list .home__items--number {
      font-size: 24px;
    }

    &__book {
      padding: 0;
    }

    .home__book--cta {
      width: 100%;
    }

    &__data {
      padding-top: 0;

      &--tittle {
        font-size: 70px;
      }

      &--subtitle {
        font-size: 20px;
      }
    }

    &__social {
      bottom: 13rem;

      &--link {
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .destinations {
    .swiper-slide {
      width: 380px;
    }
    // &__card {
    //     height: 256px;
    // }
  }

  .things__list {
    row-gap: 5rem;
  }

  .contact {
    &__container {
    }

    input[type="text"],
    textarea {
      &::placeholder {
        font-size: 20px;
        font-weight: 500;
      }
    }

    &__inputname {
      font-size: var(--font-size-18);
    }

    &__submit {
      font-size: var(--font-size-20);
      padding: 1rem 0;
      font-weight: 600;
    }
  }

  .review {
    &__tittle {
      width: 160px;
    }

    &__img {
      transform: scale(1.3);
    }

    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  .footer {
    &__icons--ic {
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
}
